<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Order Manager</title>
</head>
<body>
	<div align="center">
		<h1><a th:href="@{/list}">Order List</a></h1>
		<a href="/new">Create New Order</a> 
		<br /><br />
		<form th:action="@{/order}">
			<input type="text" th:name="id" /> <input type="submit" value="Search"/>
		</form>
		<br /><br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Order ID</th>
					<th>Create At</th>
					<th>Total</th>
					<th>User ID</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="order : ${listOrders}">
					<td th:text="${order.id}">Product ID</td>
					<td th:text="${order.createAt}">Name</td>
					<td th:text="${order.total}">Brand</td>
					<td th:text="${order.userId}">Made in</td>
					<td th:text="${order.status}">Price</td>
					<td><a th:href="@{'/edit/' + ${order.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp; 
						<a th:href="@{'/delete/' + ${order.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>